*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'ABeeZee';
}

@font-face {
  font-family: ABeeZee;
  src: url("../Images-Fonts/ABeeZee-Regular.ttf");
}

html{
    scroll-behavior: smooth;
}

.navbar {
  width: 100%;
  height: 80px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 2;
}

.hamburger{  
    display:none;   
   } 

.logo{
    margin-left: 15px;
    width:auto;
    height: 60px;
}

.navbar h1{
    background-color: #A067A5;
    background-image: linear-gradient(to top, #A067A5 0%, #E8358B 100%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    text-decoration: none;
    font-size: 2rem;
}

.menu ul{
  display: flex;
  align-items: center;

}

.menu ul li a{
  text-decoration: none;
  color:rgb(0, 0, 0);
  padding: 5px 12px;
  letter-spacing: 2px;
  font-size: 18px;
  align-items: center;
}

.menu ul li a:hover{
    border-bottom: 4px solid #000;
    transition: .5s;
}

.img:hover{
    border-radius: 12px solid #fff;
    transition: 1.8s;
}

.search__wrapper {
    
    background: url(../Images-Fonts/niketh-vellanki-7FyzRTZYufY-unsplash.jpg) no-repeat;
    background-size: cover;
    background-position:center;
    position:static;
    width:auto;
    height: 450px;
    left: 0px;
    top: 80px;
    text-align: center;
    color: #fff;
    gap: 20px;
    
}



input {
    font-size: 1rem;
}

.trending__header {
    /* border-radius:12px;
    margin-top: 1rem;
    width: 70%; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    margin-left: 50px;
    gap: 50px;
}

.search__input{
    width: 70%;
    height: 30px;
    border-radius: 6px;
    border: none;
    padding: 20px;
    top: 300px;
    margin-top: 10px;
}

.search__input::placeholder{
    color: #a29f9f;
}

.search__wrapper > h1 {
   padding: 170px 0px 20px 0px;
   font-weight: 500;
}

.search__wrapper > p {
    margin: 10px 0px;
    font-weight: bold;
}

.places {

   display: inline;
   text-align: center;
   border-radius: 12px;
   display: flex;
   gap: 1rem;
}

.left__col{
    display: flex;
    justify-content: flex-end;
}



.trending__img {
   display: flex;
   height: 200px;
   width: 200px;
   border-radius: 20px;
}

.trending__img:hover{
    box-shadow: 5px 5px #acaaaa;
    transition: 0.5s;
}

.trending_title {
    margin-left: 50px;
    margin-top: 20px;
    color: #A067A5
}

.trending__name{
    text-align: center;
    margin: 5px 0px;
    color: #808080;
}

.trending__link{
    text-decoration: none;
}

.trending_attraction__title {
    color: #fff; 
    padding-top: 10px;
    margin-left: 50px;
}

.trending_attracion__name {
    text-align: center;
    margin: 5px 0px;
    color: #fff; 
}


.trending_attraction__img {
    display: flex;
    height: 200px;
    width: 200px;
    border-radius: 20px;
}

.title_rec{
  margin-left: 50px;
  margin-top: 10px;
}

.attraction_section {
    background-color: rgb(11, 93, 187);
}



footer > ul {
    list-style: none;
    padding-left: 0;
  }
  
footer {
    background-color: rgb(11, 93, 187);
    color: #bbb;
    margin: 20px 0px;
    line-height: 1.5;
  }
footer a {
    text-decoration: none;
    color: #eee;
  }
footer > a:hover {
    text-decoration: underline;
  }

  .ft-title {
    color: #fff;
    font-family: 'ABeeZee';
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
  }


.ft-main {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
}

.ft-main-item {
  padding: 1.25rem;
  min-width: 12.5rem;
}

form {
  display: flex;
  flex-wrap: wrap;
}
input[type="email"] {
  border: 0;
  padding: 0.625rem;
  margin-top: 0.3125rem;
}
input[type="submit"] {
  background-color: #da5263;
  color: #fff;
  cursor: pointer;
  border: 0;
  padding: 0.625rem 0.9375rem;
  margin-top: 0.3125rem;
}


.ft-social {
  padding: 0 1.875rem 1.25rem;
}
.ft-social-list {
  display: flex;
  justify-content: center;
  border-top: 1px #777 solid;
  padding-top: 1.25rem;
}
.ft-social-list li {
  margin: 0.5rem;
  font-size: 1.25rem;
}


.ft-legal {
  padding: 0.9375rem 1.875rem;
  background-color: #333;
}
.ft-legal-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.ft-legal-list li {
  margin: 0.125rem 0.625rem;
  white-space: nowrap;
}

.ft-legal-list li:nth-last-child(2) {
    flex: 1;
}


@media (max-width:768px){
    .menu{
        position: absolute;
        flex-direction: column;   
        background: gray;
        box-shadow: 0 3px 5px rgba(0,0,0,0.4);
        top: 80px;
        /* left: 15%; */
        right: 0%;
        width: 30%;
        height: 150px;
        text-align: center;
        transform: translateX(140%);
        transition: transform 0.3s ease-in;
        overflow: hidden;
     }
    .trending__header {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-items: center;
        /* margin-left: 50px; */
        gap: 50px;
    }
    .img {
        width: 40px;
    }

    
    .hamburger{
        cursor: pointer;
        justify-content: flex-end;
      }


      .line-1,.line-2,.line-3{
        display: block;
        margin: 5px auto;
        width: 30px;
        height: 3px;
        background-color: white;
        transition: 0.4s;  
      }
      .open .line-1{
       transform: rotate(45deg) translate(8px,3px) ;
      }
    
      .open .line-2{
       opacity: 0;
      }
    
      .open .line-3{
        transform: rotate(-45deg) translate(8px,-3px);
      }
      .menu.show{
        transform: translate(0%);
        color: black;
      }
      .nav-link::after{
       display: none;
      }

  
    .hamburger{
        display: block;
        cursor: pointer;
      }

      .menu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
      
    .row {
      display: grid;
      grid-template-columns: repeat(2,1fr);
   
    }
    

}

@media (max-width:450px){

    .trending_title{
        text-align: center;
    }
    
   .trending__header {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        margin-left: 50px;
        gap: 50px;
    }

    .trending_attraction__title{
        text-align: center;
    }
   
    .row {
      display: grid;
      grid-template-columns: repeat(1,1fr);
   
    }
}

@media only screen and (min-width: 477px ) {
    .ft-main {
      justify-content: space-evenly;
    }
  }
  @media only screen and (min-width: 1240px ) {
    .ft-main {
      justify-content: space-evenly;
    }

  }


  


#map {
    height: 50%;
    width: 80%;
    margin-left: 150px;
    margin-top: 20px;
}

.row {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-items: center;
  margin-left: 50px;
  margin-top: 20px;
  gap: 50px;
}

.card__img{
  display: flex;
  height: 250px;
  width: 250px;
  border-radius: 20px;

}

.card__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
}

.card_title {
  width: 200px;
}

.alt_img{
  width: 30px;
  height: 30px;
}

