@font-face {
    font-family: ABeeZee;
    src: url("../Images-Fonts/ABeeZee-Regular.ttf");
}

:root{
    --font-size: 16px;
}

body{
    background-image: url("../Images-Fonts/Login-Form-Background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

input {
    border: none;
    background: none;
    height: 1.5em;
    flex-direction: column;
}

input.larger {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.username {
    font-size: 30px;
    font-family: ABeeZee;
    margin-bottom: 20px;
    border-bottom: 2px solid white;
}

.password {
    font-size: 30px;
    font-family: ABeeZee;
    border-bottom: 2px solid white;
}

.form-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #744578;
    border-radius: 30px;
    width:fit-content ;
    margin: auto;
    bottom: 30rem;

}


form {
    display: flex;
    flex-direction: row;
    justify-content: center;
	align-items: center;
	padding: 50px 50px;
	text-align: left;
}

.container{
    display: flex;
    justify-content: flex-end;
    margin: 2.5em;
}

h1{
    font-family: ABeeZee;
    margin: 30px;
    text-align: center;
    z-index: 2;
    font-size: 5.5rem;
    color: white;
}

.login-button1 {
    font-family: ABeeZee;
    justify-content: flex-end;
    top: 1em;
    left: 6em;
	border: none;
    border-radius: 40px;
	background-color:#744578;
	color: #FFFFFF;
	font-size: 30px;
	width: 7em;
    height: 2.5em;
	letter-spacing: 1px;
	text-transform: uppercase;
    margin-right: 10px;
}

.sign-up-button {
    font-family: ABeeZee;
    justify-content: flex-end;
    top: 1em;
    left: 15em;
	border: none;
    border-radius: 40px;
	background-color: #DA5263;
	color: #FFFFFF;
	font-size: 30px;
    width: 7em;
    height: 2.5em;
    letter-spacing: 1px;
	text-transform: uppercase;
    margin-left: 10px;
}

.login-button2 {
    font-family: ABeeZee;
    justify-content: center;
    border-radius: 30px;
    border-color: #FFFFFF;
    background-color: transparent ;
	color: #FFFFFF;
	font-size: 30px;
	width: 11em;
    height: 2.5em;
	letter-spacing: 1px;
	text-transform: uppercase;
}

p {
    font-family: ABeeZee;
    font-size: 35px;
    font-weight: 100;
    color:#FFFFFF;
    text-align: left;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.user-icon {
    background: url('../Images-Fonts/User_fill.png');
    height: 39px;
    width: 46px;
    display:inline-block ;
    margin-right: 10px;
}

.password-icon {
    background: url('../Images-Fonts/Lock_fill.png');
    height: 39px;
    width: 46px;
    display:inline-block ;
    margin-right: 10px;
}