@font-face {
    font-family: ABeeZee;
    src: url("../Images-Fonts/ABeeZee-Regular.ttf");
}

body {
    font-family: ABeeZee;
    background-image: url("../Images-Fonts/Login-Form-Background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    overflow-x: hidden;
    color: white;
}

h1 {
    font-weight: bold;
    display: flex;
    height: 100%;
    justify-content: center;
}

p {
    font-size: 20px;
    font-weight: 100;
}

form {
	display: flex;
    height: 100%;
    justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 50px 50px;
	text-align: left;
}

input {
	background: none;
    border: none;
}

.username {
    position: relative;
    font-size: 25px;
    font-family: ABeeZee;
    transform: translate(150px, -40px);
    border-bottom: 2px solid white;
}

.password {
    position: relative;
    font-size: 25px;
    font-family: ABeeZee;
    transform: translate(150px, 0px);
    border-bottom: 2px solid white;
}

.remember {
    position: relative;
    transform: translate(98px, -10px);
}

::placeholder {
    color:white;
    opacity: 1;
}

.forgotten-password {
    position: relative;
    transform: translate(150px, -20px);
}

.login-button1 {
    position: absolute;
	border: none;
    border-radius: 30px;
	background-color:#744578;
	color: #FFFFFF;
	font-size: 20px;
	width: 170px;
    height: 56px;
    left: 1240px;
    top: 64px;
	letter-spacing: 1px;
	text-transform: uppercase;
    margin: 5px;
}

.sign-up-button {
    position: absolute;
	border: none;
    border-radius: 30px;
	background-color: #DA5263;
	color: #FFFFFF;
	font-size: 20px;
    width: 170px;
    height: 56px;
    left: 1461px;
    top: 64px;
    letter-spacing: 1px;
	text-transform: uppercase;
}

.login-button2 {
    position: relative;
    transform: translate(150px, -20px);
	border-radius: 12px;
	border: 2px solid #ffffff;
	background-color: #744578;
	color: #FFFFFF;
	font-size: 18px;
	padding: 12px 105px;
    letter-spacing: 1px;
	text-transform: uppercase;
}

.form-container {
    position: absolute;
    border-radius: 30px;
    position: absolute;
    width: 709px;
    height: 616px;
    left: 544px;
    top: 254px;
    background: #744578;
    z-index: 1;
}

.overlay-container {
    position: relative;
    display: flex;
    width: 50px;
    flex-wrap: wrap;
    text-align: center;
    z-index: 2;
    font-size: 30px;
    transform: translate(570px, 450px);
}
