@font-face {
    font-family: ABeeZee;
    src: url("../Images-Fonts/ABeeZee-Regular.ttf");
}

:root{
    --font-size: 16px;
}

body{
    background-image: url("../Images-Fonts/Login-Form-Background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

input {
    border: none;
    background: none;
    flex-direction: column;
    margin-inline-end:20px;

}

.full-name {
    font-size: 1em;
    font-family: ABeeZee;
    margin-bottom: 20px;
    border-bottom: 2px solid white;
}

.email-address {
    font-size: 1em;
    font-family: ABeeZee;
    /* margin-bottom: 20px; */
    /* margin-left: 50px; */
    border-bottom: 2px solid white;
}

.username {
    font-size: 1em;
    font-family: ABeeZee;
    margin-bottom: 20px;
    /* margin-left: 50px; */
    border-bottom: 2px solid white;
}

.password {
    font-size: 1em;
    font-family: ABeeZee;
    margin-bottom: 20px;
    /* margin-left: 50px; */
    border-bottom: 2px solid white;
}

.confirm-password {
    font-size: 1em;
    font-family: ABeeZee;
    margin-bottom: 20px;
    /* margin-left: 50px; */
    border-bottom: 2px solid white;
}

.form-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #DA5263;
    border-radius: 30px;
    width: 42em ;
    height:25em;
    margin: auto;
    bottom: 30rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
	padding: 50px 50px;
	text-align: left;
}

.heading{
    display: flex;
    flex-direction: column;
}

h1 {
    display:flex;
    justify-content: flex-end;
    flex-direction: column;
    font-family: ABeeZee;
    text-align: center;
    z-index: 2;
    font-size: 2.5rem;
    color: white;
}

h2 {
    display:flex;
    justify-content: flex-end;
    flex-direction: column;
    font-family: ABeeZee;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    text-align: center;
    z-index: 2;
    color: white;
    flex-wrap: wrap;
}

.container{
    display: flex;
    justify-content: flex-end;
    margin: 2.5em;
}

.login-btn1 {
    font-family: ABeeZee;
    justify-content: flex-end;
    top: 1em;
    left: 6em;
	border: none;
    border-radius: 40px;
	background-color:#744578;
	color: #FFFFFF;
	font-size: 1em;
	width: 7em;
    height: 2.5em;
	letter-spacing: 1px;
	text-transform: uppercase;
    margin-right: 10px;
}

.sign-up-btn1 {
    font-family: ABeeZee;
    justify-content: flex-end;
    top: 1em;
    left: 15em;
	border: none;
    border-radius: 40px;
	background-color: #DA5263;
	color: #FFFFFF;
	font-size: 1em;
    width: 7em;
    height: 2.5em;
    letter-spacing: 1px;
	text-transform: uppercase;
    margin-left: 10px;
}

::placeholder {
    color: white;
    opacity: 1;
}



.sign-up-btn2 {
    vertical-align: bottom;
    align-items:center ;
    text-align:center ;
    border: 2px solid;
    font-family: ABeeZee;
    justify-content: center;
    border-radius: 30px;
    border-color: #FFFFFF;
    background-color: transparent ;
	color: #FFFFFF;
	font-size: 1em;
	width: 15.5em;
    height: 2.5em;
    margin-bottom: 1em;
    /* margin-top:20px; */
	letter-spacing: 1px;
	text-transform: uppercase;
}

.or {
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-family: ABeeZee;
    color: #FFFFFF;
}

.user-icon {
    background: url('../Images-Fonts/User_fill.png');
    height: 35px;
    width: 37px;
    display:inline-block ;
    margin-right: 10px;
    margin-top: 20px;
    /* position: absolute; */
}

.email-address-icon {
    background: url('../Images-Fonts/Message_alt_fill.png');
    height: 39px;
    width: 40px;
    display:inline-block ;
    margin-right: 5px;
    /* position: absolute; */
}

.password-icon {
    background: url('../Images-Fonts/Lock_fill.png');
    height: 39px;
    width: 40px;
    display:inline-block ;
    margin-right: 10px;
    /* position: absolute; */
}



